<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkp.jwtexample.autogenerator.mapper.TbUserMapper">

    <select id="selectByName" parameterType="java.lang.String" resultType="com.lkp.jwtexample.autogenerator.entity.TbUser">
        SELECT * from tb_user where username=#{username}
    </select>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lkp.jwtexample.autogenerator.entity.TbUser">
        <result column="username" property="username" />
        <result column="password" property="password" />
    </resultMap>

</mapper>
